@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

:root {
  --primary: #004dba;
  --secondary: #151515;
  --text-color: #333;
  --text-dim: #aaa;
  --error: #ff2b40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  color: var(--text-color);
}

/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 20px;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: var(--primary);
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  text-decoration: none;
  color: var(--text-dim);
  margin-left: 25px;
  padding: 6px;
}

.navbar a:hover {
  background-color: var(--secondary);
  color: #fff;
  border-radius: 8px;
}



/* Page Styles */
.content {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

/* Blog Preview */
.blog-list {
  margin: 20px 0px;
  padding: 10px 16px;
  border-left: 5px solid var(--primary);
}

.blog-list:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blog-list h2 {
  font-size: 22px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.blog-list p {
  color: var(--text-dim);
}

.blog-list a {
  text-decoration: none;
}

/* Blog Details*/
.blog-details h2{
  font-size: 22px;
  color: var(--primary);
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0px;
  line-height: 1.5em;
}

.blog-details button {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 30px;
}

.blog-details button:hover {
  background-color: var(--primary);
  color: #fff;
}

/* Create Blog Form */
.create {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 22px;
  color: var(--primary);
  margin-bottom: 30px;
}

input, textarea, select {
  width: 100%;
  padding: 8px 10px;
  margin: 10px 0px;
  border: 1px solid var(--text-dim);
  border-radius: 8px;
  display: block;
}

textarea {
  height: 200px;
}

.create button {
  background-color: var(--primary);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-top: 30px;
}

/* Error Page */
.error-page {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;  

}

.error-page h2 {
  font-size: 40px;
  margin-bottom: 16px;
}

.error-page p {
  margin-bottom: 32px;
}

.error-page a {
  text-decoration: none;
}

.error-page a:hover {
  color: var(--primary);
}

/* error container*/
.error-container {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
  font-size: 0.8em;
}